body {background-color:#E5FB71;}

.main-div {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.question {
    font: bold 18px Helvetica Neue,Helvetica,sans-serif;
    padding: 20px;
}

.tf {
    width:400px;
    height:40px;
    font-size: 30px;
    color: #c4ff00;
    background-color: #6b8e23;
}

.space {
    padding: 10px
}

.submit {
    height: 60px;
    width: 75px;
    font-weight: bold;
    font-size: 27px;
    color: #6b8e23;
    background-color:  #c4ff00;
}

.listening-now {
    color: #CECC15
}
    